body{
    color: lightgray;
    background-color: black;
}
img{
    height: 500px;
    width: 800px;
    align-content: centers;
}



.beefburger{
    text-align: center;
    color:  black;
    background-color: gold;
    text-align: center;
}
button{
    font-size: 18px;
    background-color: gold;
}